// Import page-specific CSS files here.
@import "home";
@import "flats_show";


.card-body.other {
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), image-url('pool.jpg');
  background-image: -o-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), image-url('pool.jpg');
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), image-url('pool.jpg');
  padding-right: 20px;
}

.pluswhite {
  margin-top: -80px;
  color: white;
  // text-shadow: 2px 2px #FF0000;
  font-size: 50px;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.8);
  text-align: center;

}



// .btn { estava influenciando no botao das demais paginas
//   text-decoration: none ;
//   background-color: #FF847C;
//   color: white;
//   border-radius : 4px;
//   font-weight: bold;
//   padding : 6.5px 18px;
//   text-align: center;
//   margin : 6px;
//   transition: all ease 0.3s;
//   vertical-align: middle;
//   justify-content: center;
//   //display: flex;
//   align-items: center;
//   // position: absolute;
//   // top: 0;
//   //right: 300px;
//   // bottom: 0;
//   // left: 0;


// }



// .banner-content {
// justify-content: center;
// }
