// Import page-specific CSS files here.
@import "home";
@import "flats_show";


.card-body.other {
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), image-url('pool.jpg');
  background-image: -o-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), image-url('pool.jpg');
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), image-url('pool.jpg');
  padding-right: 20px;
}




