<%= image_tag "homestyle.jpg", class: "banner" %>



  <div class="banner-content">
    <h1 class="pluswhite">Luxury Flat</h1>
      <%= link_to "Add a new flat", new_flat_path, class: "btn btn-info"  %>
  </div>
      <!-- duvdia 1-  nao fucnionaria assim?? <a class="btn btn-primary btn-lg">Start now</a>   duvida2- pq nao fuciou o shape e cor do botao?
      duvida 3- pq se eu mudar o nome da classe para corrigir a sintax em flats/_new.scc  pelo fato de usar o memso nome que o path influencia no estilo do form?-->





