
<div class="container">
  <div class="text-center ">
    <p class="first-title">Luxbnb</p>
    <p>Book unique homes and experience a city like a local.</p>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Search!</button>
        </span>
        <input type="text" class="form-control" placeholder="Where">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  <div class="text-center">
    <p>What is your next trip?</p>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('assets/shanghai.jpg');">
          <span class="card-category">Shanghai</span>
            <div class="card-description">
              <h2>Jad's home</h2>
              <p>Charming room in Shanghai</p>
            </div>
          <img class="card-user avatar avatar-large" src="assets/Matheus.jpg">
          <a class="card-link" href="#"></a>
          </div>
          <div class="card-footer">
            <p>Posted on 22/11/19</p>
            <div class="controls">
              <a href="#"><i class="fa fa-star"></i></a>
              <a href="#"><i class="fa fa-heart"></i></a>
              <a href="#"><i class="fa fa-share"></i></a>
            </div>
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('assets/rio de janeiro.jpg');">
            <span class="card-category">Rio</span>
            <div class="card-description">
              <h2>Gab's home</h2>
              <p>Charming room in Rio</p>
            </div>
            <img class="card-user avatar avatar-large" src="images/gab.png">
            <a class="card-link" href="#"></a>
        </div>
          <div class="card-footer">
            <p>Posted on 22/11/19</p>
            <div class="controls">
              <a href="#"><i class="fa fa-star"></i></a>
              <a href="#"><i class="fa fa-heart"></i></a>
              <a href="#"><i class="fa fa-share"></i></a>
            </div>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('assets/berlin.jpg');">
          <span class="card-category">Berlin</span>
          <div class="card-description">
            <h2>Cecile's home</h2>
            <p>Charming room in Berlin</p>
          </div>
          <img class="card-user avatar avatar-large" src="images/cecile.png">
          <a class="card-link" href="#"></a>
        </div>
        <div class="card-footer">
          <p>Posted on 22/11/19</p>
          <div class="controls">
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-heart"></i></a>
            <a href="#"><i class="fa fa-share"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


