/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  top: 72px;
  position: fixed;
  width: 100%;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}


// # min-height: calc(100vh - 172px);
